<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="https://www.w3.org/2005/Atom">
  {{#urls}}
  <entry>
    <link href="{{loc}}" />
    <updated>{{#datetime}}{{lastmod}}{{/datetime}}</updated>
  </entry>
  {{/urls}}
</feed>
