{{> head}}
{{> header}}
{{> nav}}
<main>
  <h6>main -test</h6>

  {{> uconst }}

  {{> lorem}}

  <pre><code class="language-java">
public static void main(String[] args) {
System.out.println("Hello,World!");
}
  </code></pre>
</main>
{{> aside}}
{{> footer}}
{{> foot}}
