{{> head}}
{{> header}}
{{> nav}}
<main>
  <h3>소프트웨어 개발 아웃소싱</h3>
  <p>
    소프트웨어 개발 아웃소싱은 비용을 절감하고, 전문성을 확보하며, 시간을 단축하는 효과적인 방법입니다.
    수수한기술은 20년 이상의 경험을 바탕으로
    고객의 요구에 맞춘 실용적인 소프트웨어 개발 아웃소싱 서비스를 제공합니다.
  </p>

  <section>
    <h5>수수한기술의 차별점</h5>
    <ul>
      <li>
        <em>실용적인 기술 추구:</em> 유행이나 최첨단 기술보다는 고객의 요구에 가장 적합한 기술을 선택하여 실질적인
        문제를 해결합니다.
      </li>
      <li><em>풍부한 경험:</em> 20년 이상의 경험을 바탕으로 다양한 규모의 프로젝트를 성공적으로 완료했습니다.</li>
      <li><em>맞춤형 서비스:</em> 고객의 요구 사항을 꼼꼼하게 분석하여 맞춤형 솔루션을 제공합니다.</li>
      <li><em>투명한 의사소통:</em> 프로젝트 진행 상황을 투명하게 공유하고 정기적으로 보고합니다.</li>
      <li><em>경쟁력 있는 가격:</em> 합리적인 가격으로 고품질의 서비스를 제공합니다.</li>
    </ul>
  </section>

  <section>
    <h5>수수한기술의 서비스</h5>
    <ul>
      <li><em>리거시 현행화:</em> 오래된 소프트웨어를 분석하고 현대적인 기술과 아키텍처로 업그레이드</li>
      <li><em>웹 개발:</em> 웹사이트, 웹 애플리케이션, 웹 포털 등</li>
      <li><em>모바일 개발:</em> iOS, Android 앱 개발</li>
      <li><em>데스크탑 개발:</em> 윈도, 맥OS, 리눅스 애플리케이션 개발</li>
      <li><em>클라우드 컴퓨팅:</em> 클라우드 기반 소프트웨어 개발 및 마이그레이션</li>
      <li><em>데이터 분석:</em> 데이터 분석 및 시각화 솔루션 개발</li>
    </ul>
  </section>

  <section>
    <h5>수수한기술의 약속</h5>
    <ul>
      <li><em>고객과의 긴밀한 협업:</em> 고객과 긴밀하게 협력하여 프로젝트를 성공적으로 완료합니다.</li>
      <li><em>엄격한 품질 관리:</em> 엄격한 품질 관리 시스템을 통해 고품질의 소프트웨어를 제공합니다.</li>
      <li><em>투명한 의사소통:</em> 프로젝트 진행 상황을 투명하게 공유하고 정기적으로 보고합니다.</li>
      <li><em>맞춤형 솔루션 제공:</em> 고객의 요구 사항에 맞춘 최적의 솔루션을 제공합니다.</li>
    </ul>
  </section>

  <section>
    <h5>가격 정책</h5>
    {{> uconst }}
  </section>

  <section>
    <p>
      수수한기술은 항상 고객의 요구에 빠르게 대응하며, 소프트웨어 개발, 컨설팅 및 교육에 대한 자세한 정보를 제공합니다.
      문의나 견적을 받고 싶으시다면 언제든지 저희에게 연락해주세요.
    </p>
    <p><a href="/forms?kind=consulting">지금 바로 문의하기</a></p>
    <p>연락처</p>
    <ul>
      <li>전화번호: <a href="tel:+82-10-2531-6493">+82-10-2531-6493</a></li>
      <li>이메일: <a href="mailto:info@soosoo.tech">info@soosoo.tech</a></li>
      <li>웹사이트: <a href="https://soosoo.tech">https://soosoo.tech/</a></li>
    </ul>
  </section>
</main>
{{> aside}}
{{> footer}}
{{> foot}}
