<aside>
  <ul>
    <li><a href="https://console.soosoo.tech">콘솔</a></li>
    <li><a href="https://toolbox.soosoo.tech">도구상자</a></li>
    <li><a href="https://github.com/soosootech">오픈소스</a></li>
  </ul>
</aside>

