<nav>
  <ul>
    <li><a href="/services">서비스</a>
      <ul>
        <li><a href="/services/outsourcing">아웃소싱</a></li>
        <li><a href="/services/consulting">컨설팅</a></li>
        <li><a href="/services/education">교육</a></li>
      </ul>
    </li>
    <li>
      <a href="/products">제품</a>
      <ul>
        <li><a href="/products/sender">메시지발송</a></li>
        <li><a href="/products/auth">인증</a></li>
        <li><a href="/products/cms">CMS</a></li>
        <li><a href="/products/tms">번역</a></li>
      </ul>
    </li>
  </ul>
</nav>
