{{> head}}
{{> header}}
{{> nav}}
<main>
  <h5>소프트웨어 개발 지원 서비스</h5>

  <p>
  수수한기술은 고객의 상황에 맞게 선택할 수 있는 3가지 소프트웨어 개발 지원 서비스를 제공합니다.
  </p>

  <ul>
    <li><a href="/services/outsourcing/">소프트웨어 개발 아웃소싱</a> 서비스는 고객사의 개발조직 대신 개발합니다.</li>
    <li><a href="/services/consulting/">소프트웨어 개발 컨설팅</a> 서비스는 고객사의 개발조직과 협력하며 </em>함께</em> 개발합니다.</li>
    <li><a href="/services/education/">소프트웨어 개발 교육</a> 서비스는 고객사가 개발조직이 직접 개발할 수 있도록 <em>교육</em>합니다.</li>
  </ul>

  {{> uconst}}
  {{> lorem}}
</main>
{{> aside}}
{{> footer}}
{{> foot}}
